.categoryList {
  margin-bottom: 25px;
  :hover {
    z-index: 998;
    .categoryList--prev,
    .categoryList--next {
      opacity: 1;
    }
  }
  &:hover {
    .categoryList__info--dots {
      opacity: 1;
    }
  }
  &__container {
    position: relative;
  }

  &__info {
    padding: 0 4vw;
    font-size: 1.4vw;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &--text {
      color: #e5e5e5;
      text-align: left;
    }
  }
  &--prev,
  &--next {
    background-color: rgba(20, 20, 20, 0.7);
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    width: 4vw;
    top: 0;
    font-size: 3.5vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 400;
    height: 100%;
  }

  &--prev {
    left: 0;
  }
  &--next {
    right: 0;
  }
  &__list {
    z-index: 299;
    padding-left: 4%;
    display: flex;
    gap: 0.25rem;
    transition: all 0.7s;
  }
}

@media all and (max-width: 782px) {
  .categoryList {
    &__info {
      font-size: 12px;
    }
  }
}
